.about-section {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;  
  padding-top: 10rem;
  padding-bottom: 15rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%), url(https://res.cloudinary.com/sehnsucht/image/upload/c_crop,h_1500,q_100,w_3304,y_634/v1584429877/cityscape/midtown_cloudy.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  p {
    margin-bottom: 5rem;
  }
}